In [4]:
import xgboost as xgb
import pandas as pd
import re
import os

In [10]:
pattern = re.compile(r'[\d]*.model')
model_paths = [d for d in os.listdir() if pattern.match(d)]
new_model_path = sorted(model_paths)[-1]
model = xgb.XGBRegressor()
model.load_model(new_model_path)
model

[04:28:27] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [26]:
test = pd.read_csv('test2.csv')
test.set_index('id', inplace=True)
dammy_test = pd.get_dummies(test)
dammy_test.head()

,Age(month),floor_plan__rooms,floor_plan__L,floor_plan__D,floor_plan__K,floor_plan__S,floor_plan__R,bath_toilet__shower,bath_toilet__personal_toilet,bath_toilet__joint_toilet,...,contract_term__term_2年,contract_term__term_2年1ヶ月,contract_term__term_3年,contract_term__term_4年,contract_term__term_4年4ヶ月,contract_term__term_4年9ヶ月,contract_term__term_5年,contract_term__term_6年,contract_term__term_7ヶ月,contract_term__term_7年
id,,,,,,,,,,,,,,,,,,,,,
31471,588,2,1,1,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
31472,2,1,0,0,0,0,1,0,1,1,...,1,0,0,0,0,0,0,0,0,0
31473,280,1,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
31474,434,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31475,544,2,1,1,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
y = model.predict(dammy_test)

In [28]:
y

array([148215.3  ,  97588.164,  74086.46 , ..., 208612.23 , 171052.64 ,
        76962.02 ], dtype=float32)

In [33]:
pd.concat([pd.Series(test.index),pd.Series(y)],axis=1).to_csv('test_pred.csv', header=False, index=False)

In [30]:
pd.Series(test.index)

0        31471
1        31472
2        31473
3        31474
4        31475
5        31476
6        31477
7        31478
8        31479
9        31480
10       31481
11       31482
12       31483
13       31484
14       31485
15       31486
16       31487
17       31488
18       31489
19       31490
20       31491
21       31492
22       31493
23       31494
24       31495
25       31496
26       31497
27       31498
28       31499
29       31500
         ...
31232    62703
31233    62704
31234    62705
31235    62706
31236    62707
31237    62708
31238    62709
31239    62710
31240    62711
31241    62712
31242    62713
31243    62714
31244    62715
31245    62716
31246    62717
31247    62718
31248    62719
31249    62720
31250    62721
31251    62722
31252    62723
31253    62724
31254    62725
31255    62726
31256    62727
31257    62728
31258    62729
31259    62730
31260    62731
31261    62732
Name: id, Length: 31262, dtype: int64

In [35]:
test.describe()

,Age(month),floor_plan__rooms,floor_plan__L,floor_plan__D,floor_plan__K,floor_plan__S,floor_plan__R,bath_toilet__shower,bath_toilet__personal_toilet,bath_toilet__joint_toilet,...,structure__lightweight_steel,structure__ALC,structure__SRC,structure__Others,structure__PC,structure__wood,structure__RC,structure__block,structure__HPC,contract_term__fixed_lease
count,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.00000,31262.000000,31262.000000,...,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000,31262.000000
mean,195.390026,1.304939,0.295439,0.429243,0.836959,0.019065,0.163041,0.00467,0.742755,0.389802,...,0.001791,0.075587,0.057450,0.000160,0.000192,0.553547,0.120562,0.004222,0.008957,0.053707
std,165.242012,0.613394,0.456247,0.494976,0.369409,0.136755,0.369409,0.06818,0.437123,0.487713,...,0.042287,0.264340,0.232704,0.012646,0.013853,0.497132,0.325622,0.064844,0.094216,0.225443
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,43.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,161.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,330.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.00000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1336.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000